.headline {
    flex-wrap: wrap;
    padding: 25px 100px;
    background-color: #f6e8e8;
    border-radius: 5px;
}


.member-info {
    margin: 25px 50px;
    padding: 25px 50px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    .member-heading {
        justify-content: space-between;
    }
    .info {
        display: flex;
        flex-direction: row;
        .member-info-container {
            margin-top: 10px;
        }
    }
}

.team-list-img {
    height: auto;
    width: 200px;
}

.member-info-img {
    margin: 15px;
    width: auto;
    height: 200px;
    border-radius: 25px;
}

@media only screen and (max-width: 768px) {
    .member-info {
        margin: 10px 15px;
        padding: 15px 25px;
    }
    .info {
        flex-direction: row;
        .member-info-img {
            margin: 10px;
            width: auto;
            height: 150px;
            border-radius: 15px;
        }
    }
  }

@media only screen and (max-width: 475px) {
    .member-info {
        margin: 10px 10px;
        padding: 10px 10px;
        .member-name {
            margin-top: 10px;
            margin-bottom: 0px;
        }
        .info {
            flex-direction: column;
            .member-info-img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;
            }
        }
    }
  }