<div class="center">
    <h2 *ngIf="!memeberSelected" class="headline">Rozloženie tímu</h2>
</div>
<div *ngIf="!memeberSelected" class="card-wrapper">
    <div *ngFor="let data of fakeData" class="card card-rounded clickable" (click)="selectMember(data.id)">
        <img [src]="data.img" class="img-rounded-top team-list-img" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>{{data.name}}</b></h4>
            <p>{{data.position}}</p>
        </div>
    </div>
</div>
<div *ngIf="memeberSelected" class="member-info">
    <div class="member-heading flex-row">
        <span class="col-25"><img src="./assets/back.svg" alt="back" class="back-btn" (click)="memeberSelected = null"></span>
        <h4 class="member-name">{{memeberSelected.name}}</h4>
        <span class="col-25"></span>
    </div>
    <hr>
    <div class="info">
        <img [src]="memeberSelected.img" [alt]="memeberSelected.name" class="member-info-img">
        <div class="member-info-container">
            <p><b>{{memeberSelected.position}}</b></p>
            <p>{{memeberSelected.description}}</p>
        </div>
    </div>
</div>