li {
    list-style-type: none;
    white-space: nowrap;
    padding: 10px 25px;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: #ededea;
    cursor: pointer;
    &:hover {
        transition: 0.5s;
        background-color: #d6d6d6;
    }
}

.container {
    min-width: fit-content;
    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
}

.left-panel {
    background-color: #f7f7f7;    
    border-radius: 5px;
    padding: 30px 30px;
}

.meeting {
    embed {
        width: 1024px;
        height: 100%;
    }
}

@media only screen and (max-width: 1300px) {
    .left-panel {
        border-radius: 5px;
        padding: 15px 15px;
    }
    .meeting {
        embed {
            width: 580px;
            height: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .left-panel { 
        border-radius: 5px;
        padding: 5px 5px;
    }
    .meeting {
        embed {
            width: 400px;
            height: 100%;
        }
    }
  }