<div class="container">
    <div class="left-panel">
        <ul>
            <li *ngFor="let meeting of meetings" (click)="openDoc(meeting.id)">{{meeting.name}}</li>
        </ul>
    </div>
    <div class="meeting">
        <embed *ngIf="openedMeeting.id === 1" src="../../assets/meetings/Zapisnica_c1.pdf" type="application/pdf">
        <embed *ngIf="openedMeeting.id === 2" src="../../assets/meetings/Zapisnica_c2.pdf" type="application/pdf">
        <embed *ngIf="openedMeeting.id === 3" src="../../assets/meetings/Zapisnica_c3.pdf" type="application/pdf">
        <embed *ngIf="openedMeeting.id === 4" src="../../assets/meetings/Zapisnica_c4.pdf" type="application/pdf">
        <embed *ngIf="openedMeeting.id === 5" src="../../assets/meetings/Zapisnica_c5.pdf" type="application/pdf">
        <embed *ngIf="openedMeeting.id === 6" src="../../assets/meetings/Zapisnica_c6.pdf" type="application/pdf">
        <embed *ngIf="openedMeeting.id === 7" src="../../assets/meetings/Zapisnica_c7.pdf" type="application/pdf">
        <embed *ngIf="openedMeeting.id === 8" src="../../assets/meetings/Zapisnica_c8.pdf" type="application/pdf">
        <embed *ngIf="openedMeeting.id === 9" src="../../assets/meetings/Zapisnica_c9.pdf" type="application/pdf">
        <embed *ngIf="openedMeeting.id === 10" src="../../assets/meetings/Zapisnica_c10.pdf" type="application/pdf">
    </div>
</div>