
/* You can add global styles to this file, and also import other style files */
body {
  overflow-y: hidden;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: rgb(237,237,234);
  background: radial-gradient(circle, rgba(237,237,234,1) 0%, rgba(244,244,246,1) 42%, rgba(247,247,247,1) 100%);
}

.background-img {
  background-image: url('assets/background-white.jpg');
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 25px;
}

// a {
//   text-decoration: none;
//   color: #f7f7f7;
//   &:hover {
//     text-decoration: none;
//     color: #ffffff;
//     font-weight: bold;
//   }
// }

.flex {
  display: flex;
}

.col-25 {
  width: 25%;
}
.col-50 {
  width: 50%;
}
.col-75 {
  width: 75%;
}
.col-100 {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.clickable {
  cursor: pointer;
}

// CARD CSS HERE
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  &.card-rounded {
      border-radius: 5px; /* 5px rounded corners */
    }
}

.img-rounded {
    border-radius: 5px;
}

.img-rounded-top {
    border-radius: 5px 5px 0px 0px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 2px 16px;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    .card {
        margin: 10px 5px;
        min-width: 200px;
        max-width: 250px;
        &:hover {
          min-width: 250px;
          max-width: 300px;
          transition: 0.8s;
        }
    }
}

// CARD CHIPS
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  a {
    text-decoration: none;
    color: #f7f7f7;
    &:hover {
      text-decoration: none;
      color: #ffffff;
      font-weight: bold;
    }
  }
  &.inactive {
    background-color: #4482A0;
      &:hover {
        transition: 0.3s;
        background-color: #8BBF50;
      }
  }
  &.active {
    background-color: #8BBF50;
  }
}

.chip img {
  padding: 5px;
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
}

.back-btn {
  background-color: #d1d1d1;
  border-radius: 50%;
  padding: 5px 0 5px 10px;
  &:hover {
    cursor: pointer;
    background-color: #f7f7f7;
  }
}