<div class="about-container">
    <h2>Procesne riadený rezervačný systém</h2>
    <section>
        <p>
            Cieľom tímového projektu je namodelovať a implementovať rezervačný systém
            pomocou špecifikačno-implementačného jazyku Petriflow. Systém má byť dostatočne špecifický na pokrytie
            širokého spektra prípadov. V systéme by malo
            byť umožnené nastaviť jednotku rezervácie (napr. izba v hotely, termín u lekára a pod.) a jednotku času
            rezervácie (deň, hodina a pod.). Bližší rozsah
            prác po konzultácii so zadávateľom projektu
        </p>
        <ul class="tasks">
            <li>
                Naštudujte formalizmus Petriho sietí a jazyk Petriflow.
            </li>
            <li>
                Namodelujte procesy potrebné pre rezervačný systém.
            </li>
            <li>
                Implementujte procesne riadenú aplikáciu pomocou namodelovaných procesov.
            </li>
            <li>
                Otestuje implementované riešenie.
            </li>
        </ul>
    </section>
</div>