<div class="about-container">
    <h2>Procesne riadený rezervačný systém</h2>
    <h4></h4>
    <hr>
    <section>
        <p>
            Cieľom tímového projektu je namodelovať a implementovať rezervačný systém
            pomocou špecifikačno-implementačného jazyku Petriflow. Systém má byť dostatočne špecifický na pokrytie
            širokého spektra prípadov. V systéme by malo
            byť umožnené nastaviť jednotku rezervácie (napr. izba v hotely, termín u lekára a pod.) a jednotku času
            rezervácie (deň, hodina a pod.). Bližší rozsah
            prác po konzultácii so zadávateľom projektu
        </p>
        <p>
            1. Naštudujte formalizmus Petriho sietí a jazyk Petriflow.<br>
            2. Namodelujte procesy potrebné pre rezervačný systém.<br>
            3. Implementujte procesne riadenú aplikáciu pomocou namodelovaných procesov.<br>
            4. Otestuje implementované riešenie.
        </p>
    </section>
</div>