@media only screen and (min-width: 768px) { 
    .container {
        padding: 50px 25px;
        border-radius: 15px;
        background-color: #f6e8e8;
    }
    .center {
        margin-top: calc(100vh - 75vh);
    }
}