a { 
    text-decoration: none;
}

img {
    background-color: #f7f7f7;
    padding: 20px;
}

.container {
    border-top: 1px solid #d1d1d1;
    padding-top: 10px;
    color: #4a4a4ad1;
    &:hover {
        color: #4a4a4a;
    }
}